reccmp-user.yml
reccmp-build.yml
Debug/
Release/
*.ncb
/.vs
/.vscode
/.idea
/.claude
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
/build*
*.swp
LEGORACERSPROGRESS.*
GOLDPPROGRESS.*
*.pyc
gamefiles/

# By convention we put the retail binaries into the project root.
LEGORacers.exe
GolDP.dll

# Data / IDA database files
/data/

.DS_Store
*.log

.cache/
